<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chixing.mapper.ShopMapper">

    <resultMap id="shopToFood" type="com.chixing.entity.Shop">

        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_create_time" jdbcType="VARCHAR" property="shopCreateTime" />
        <result column="shop_province" jdbcType="VARCHAR" property="shopProvince" />
        <result column="shop_city" jdbcType="INTEGER" property="shopCity" />
        <result column="shop_area" jdbcType="INTEGER" property="shopArea" />
        <result column="shop_address_detail" jdbcType="TIMESTAMP" property="shopAddressDetail" />
        <result column="shop_telno" jdbcType="TIMESTAMP" property="shopTelno" />
        <result column="shop_open_time" jdbcType="TIMESTAMP" property="shopOpenTime" />
        <result column="shop_close_time" jdbcType="TIMESTAMP" property="shopCloseTime" />
        <result column="shop_score" jdbcType="TIMESTAMP" property="shopScore" />
        <result column="shop_avg_cost" jdbcType="TIMESTAMP" property="shopAvgCost" />
        <result column="shop_main_img" jdbcType="TIMESTAMP" property="shopMainImg" />
        <result column="shop_detail" jdbcType="TIMESTAMP" property="shopDetail" />
        <result column="shop_longitude" jdbcType="TIMESTAMP" property="shopLongitude" />
        <result column="shop_latitude" jdbcType="TIMESTAMP" property="shopLatitude" />
        <result column="other1" jdbcType="TIMESTAMP" property="other1" />
        <result column="other2" jdbcType="TIMESTAMP" property="other2" />
        <result column="shop_cteate_time" jdbcType="TIMESTAMP" property="shopCteateTime" />
        <result column="shop_update_time" jdbcType="TIMESTAMP" property="shopUpdateTime" />
    <collection property="shopId" ofType="com.chixing.entity.Food">
    </collection>
    </resultMap>
    <select id="selectByFoodType" resultMap="shopToFood">
        select s.*
        from food f join shop s
        on f.shop_id = s.shop_id
        where f.food_type = #{foodType}
        GROUP BY s.shop_id
    </select>
    <select id="selectByShopAvgCost" resultMap="shopToFood">
        select *
        from shop
        where shop_avg_cost &gt;= #{shopMinCost} and shop_avg_cost &lt;= #{shopMaxCost}
    </select>
    <select id="selectBySift" resultMap="shopToFood">
        select s.*
        from food f join shop s
        on f.shop_id = s.shop_id
        where f.food_type = #{foodType}
        and s.shop_avg_cost &gt;= #{shopMinCost}
        and s.shop_avg_cost &lt;= #{shopMaxCost}
        GROUP BY s.shop_id
    </select>
</mapper>
