<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chixing.mapper.ShopMapper">

    <resultMap id="shopToFood" type="com.chixing.entity.Shop">



    <collection property="shopId" ofType="com.chixing.entity.Food">

    </collection>

    </resultMap>
    <select id="selectByFoodType" resultMap="shopToFood">
        select s.*
        from food f join shop s
        on f.shop_id = s.shop_id
        where f.food_type = #{foodType}
        GROUP BY s.shop_id
    </select>
    <select id="selectByShopAvgCost" resultMap="shopToFood">
        select *
        from shop
        where shop_avg_cost &gt;= #{shopMinCost} and shop_avg_cost &lt;= #{shopMaxCost}
    </select>
    <select id="selectBySift" resultMap="shopToFood">
        select s.*
        from food f join shop s
        on f.shop_id = s.shop_id
        where f.food_type = #{foodType}
        and s.shop_avg_cost &gt;= #{shopMinCost}
        and s.shop_avg_cost &lt;= #{shopMaxCost}
        GROUP BY s.shop_id
    </select>
</mapper>
