*{
    margin: 0;
    padding: 0;
}

.layui-main{
    min-width: 1200px;
}
.box{
    width: 100%;
    height: 300px;
}
/*左侧图片*/
.grid{
    margin-top: 20px;
    width: 100%;
    height: 200px;
}
.grid img{
    width: 60%;
    height: 300px;
}
/*右侧图片*/
.grid_right{
    margin-top: 20px;
    width: 100%;
    height: 200px;
}
.grid_right img{
    float: right;
    width: 60%;
    height: 300px;
}

.pay_item{
    height: 200px;
    margin-top: 30px;
    /* background-color: rgb(216, 225, 36); */
}
.pay_img{
    margin-left: 140px;
    /* background-color: rgb(100, 127, 236); */
}
.pay_word{
    display: block;
    margin-top: 50px;
    text-align: center;
    /* background-color: hotpink; */
}
.pay_word span{
    font-size: 18px;
    font-weight: bolder; 
}
.over{
    display: block;

}
.return,.check{
    text-align: center;
}
.word_item{
    height: 220px;
}
.gridone{
    width: 70px;
    height: 30px;
}
.gridtwo{
    width: 70px;
    height: 40px;
}
.detail-bottom{
    margin-top: 70px;
}
.details-item{
    margin-top: 20px;
    font-size: 16px;
}
.log-msg{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: red;
}
.pay{
    background-color: rgb(249, 249, 249);
}
.left-box,.right-box, .bottom{
    width: 80px;
    height: 150px;
    background-color: red;

}
.left-box{
    position:fixed;
    left: 0;
    top: 180px;
    z-index: 1;
}
.right-box{
    position: fixed;
    right: 170px;
    top: 180px;
    z-index: 1;
}
