<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/fan/">
    <meta charset="UTF-8">
    <title>页脚</title>
</head>
<link rel="stylesheet" href="css/details/footer_container.css">
<body>
<!-- 页尾部分 -->
<div class="footer-container">
    <div id="index-footer" class="index-footer">
        <div class="footer-links clearfix">
            <div class="links-item">
                <p class="link-title">商务合作</p>
                <ul class="link-panel">
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">餐饮代理商招募</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">商企通</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">饭团开放平台</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">申请扫码点餐</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">饭团收单代理商招募</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">饭团收银合作商招募</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">饭团外卖代理商招募</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">北极星商业开放平台</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">免费使用饭团排队</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">企业差旅、企业用餐、企业用车</a>
                    </li>
                </ul>
            </div>
            <div class="links-item">
                <p class="link-title">公司信息</p>
                <ul class="link-panel">
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">媒体报道</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">关于我们</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">投资者关系</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">联系我们</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">商户诚信公约</a>
                    </li>
                    <li class="link-li">
                        <a target="_blank" href="">招聘</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">餐饮安全管理办法</a>
                    </li>
                </ul>
            </div>
            <div class="links-item">
                <p class="link-title">用户帮助</p>
                <ul class="link-panel">
                    <li class="link-li">
                        <a target="_blank" href="">客户服务中心</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">知识产权维权</a>
                    </li>
                    <li class="link-li">
                        <a rel="nofollow" target="_blank" href="">廉正举报平台</a>
                    </li>
                </ul>
            </div>
            <div class="links-item">
                <p class="link-title xiazai">应用下载</p>
                <ul class="link-panel clearfix">
                    <a target="_blank" href="">
                        <li class="qrcode-img"><i class="app-qrcode">
                        </i>
                            <p>扫码下载饭团APP</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footer-declare">
            <div>
                <p class="company-desc">
                    <span class="all-right">©2003-2022 dianping.com, All Rights Reserved.</span>
                    <span>本站发布的所有内容，未经许可，不得转载，详见
                                <a target="_blank" rel="nofollow" class="a-link" href="">《知识产权声明》</a>
                                 <a target="_blank" rel="nofollow" class="a-link" href="">《用户使用协议》</a>
                                 </span>
                </p>
                <p class="company-desc">
                    <span>增值电信业务经营许可证：</span>
                    <a target="_blank" class="a-link" href="" rel="nofollow" target="_blank">沪B2-20040012</a>
                    <span class="all-right">|</span>
                    <span>互联网药品信息服务资格：
                                        <a target="_blank" rel="nofollow" class="a-link" href="">(沪)-经营性-2022-0001</a>
                </p>
            </div>
            <div class="address">
                <p class="company-desc">
                                        <span>网络文化经营许可证：
                                            <a target="_blank" rel="nofollow" class="a-link" href="">沪网文[2020]0813-068号</a>
                                        </span>
                    <span class="all-right">|</span>
                    <span>用户举报热线：10100011</span>
                </p>
                <p class="company-desc">
                    <span>备案号：</span>
                    <a target="_blank" class="a-link" href="" rel="nofollow" target="_blank">沪B2-20040012-1</a>
                    <span class="all-right">|</span>
                    <span>上海汉涛信息咨询有限公司</span>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>