<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link rel="icon" href="../images/minilogo.png">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/details/lottie.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/details/details_product.css">
    <link rel="stylesheet" href="../css/details/details_bottom.css">
    <link rel="stylesheet" href="../css/details/details_header.css">
    <style>
        body{
            background-color: #fff;
        }
    </style>
</head>
<body>

<div class="header">
    <div class="top-nav ">
        <div class="layui-main top-main layui-row">
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="">登录/注册</a></li>
                    <li class="layui-nav-item"><a href="">帮助中心</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">我的饭团</a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="">订单中心</a></dd>
                            <dd><a href="">我的优惠券</a></dd>
                            <dd><a href="">我的收藏</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="layui-row header-tip">

        <!--      logo      -->
        <div class="layui-col-xs3 logo-input">
            <a href="../index.html" title="饭团网" class="logo-img">
                <img src="../images/mylogo.png"  width="200" height="72">
            </a>
        </div>
        <!--    搜索    -->
        <div class="layui-col-xs6 search-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item searchbox-input">
                    <div class="layui-input-block" style="margin-left: 10px">
                        <input style="border: 2px solid rgb(255,107,55);width: 80%;display: block;float: left" type="text" name="title" autocomplete="off"
                               placeholder="点此进入美食猩球" class="layui-input">
                        <div class="layui-btn-container" style="display: block;float: left">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger search-btn">去觅食</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layui-main main">
    <!--头-->

    <div class="layui-row detail-shop-dish">
        <!--  灰色过度 (面包屑)  -->
        <div class="layui-col-xs12 dish-nav">
            <span class="layui-breadcrumb" lay-separator=" >>">
              <a href="../index1.html">首页</a>
              <a href="">小吃快餐</a>
              <a href="">张家面馆</a>
              <a><cite>张家虾仁</cite></a>
            </span>
        </div>
    </div>


    <div class="layui-row container-shop-dish">
        <!--   商品详情     -->
        <div class="layui-col-xs9 ">
            <!--    详情head      -->
            <div class="dish-details">
                <div class="dish-pictures-area">
                    <!--    详情bigImg     -->
                    <div class="picture-preview">
                        <div class="layui-carousel" id="img-list" lay-filter="test4">
                            <div carousel-item="">
                                <div><img src="../images/details/dish.jpg"></div>
                                <div><img src="../images/details/dish.jpg"></div>
                                <div><img src="../images/details/dish.jpg"></div>
                                <div><img src="../images/details/dish.jpg"></div>
                                <div><img src="../images/details/dish.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <!--    详情ImgList     -->
                    <div class="picture-list">

                    </div>
                    <!--    商品详细信息     -->
                    <div class="dish-info-area">
                        <!--商品名-->
                        <div class="dish-name">
                            <span id="dish-name">张家虾仁</span>
                            <div class="sum-people">
                                <span class="people-count">1120</span>
                                <span>人推荐</span>
                            </div>
                        </div>
                        <!--  商品价格   -->
                        <div class="dish-price">
                            ￥
                            <span id="dish-price">98</span>
                            <span id="text-price">店铺价格:<del>168</del></span>
                        </div>
                        <!--       购买按钮        -->
                        <div class="layui-btn-container but-btn">
                            <button style="float: left" type="button" class="layui-btn layui-btn-primary layui-btn-radius mybtn">点此购入
                            </button>
                            <div id="buybuybuy"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="border-bottom: 2px solid #f4f4f4">
                <ul class="layui-tab-title">
                    <li class="layui-this">美食详情</li>
                    <li>备注信息</li>
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">原材料:虾仁</div>
                    <div class="layui-tab-item">自购买起48小时内使用</div>
                </div>
            </div>
            <!--       评价容器     -->
            <div class="dish-comment-wrap">
                <!--       评价header     -->
                <div class="dish-comment-head">
                    <span>相关评价</span>

                </div>
                <!--       评价list     -->
                <div class="dish-comment-list">
                    <ul>
                        <li class="comment">
                            <div class="layui-row ">
                                <!--      用户容器       -->
                                <div class="layui-col-xs1 user-tip">
                                    <!--      用户头像       -->
                                    <img src="/images/details/user_head.svg">
                                    <!--      用户名       -->
                                    <span class="user-name">用户名1</span>
                                </div>

                                <div class="layui-col-xs11 comment-details">
                                    <div class="layui-card">
                                        <div class="layui-card-header" style="background-color: #f4f4f4">
                                            <div class="grade-tip"></div>
                                        </div>
                                        <div class="layui-card-body comment-details-text">
                                            我靠这是什么东西我这辈子没吃过这么好吃的虾<br>
                                            快要给我吃瞎了
                                            <!--评价图片-->
                                            <div class="shop-pictures">
                                                <ul>
                                                    <li class="comment-img-item">
                                                        <img src="/images/details/dish.jpg" alt="" width="68"
                                                             height="68">
                                                    </li>
                                                    <li class="comment-img-item">
                                                        <img src="/images/details/dish.jpg" alt="" width="68"
                                                             height="68">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="comment-details-date">
                                                <span>2022-8-1</span>
                                                <div class="comment-perfect">
                                                    <i class="perfect-img"></i>
                                                    <span>赞</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="layui-row ">
                                <!--      用户容器       -->
                                <div class="layui-col-xs1 user-tip">
                                    <!--      用户头像       -->
                                    <img src="/images/details/user_head.svg">
                                    <!--      用户名       -->
                                    <span class="user-name">用户名1</span>
                                </div>

                                <div class="layui-col-xs11 comment-details">
                                    <div class="layui-card">
                                        <div class="layui-card-header" style="background-color: #f4f4f4">
                                            <div class="grade-tip"></div>
                                        </div>
                                        <div class="layui-card-body comment-details-text">
                                            我靠这是什么东西我这辈子没吃过这么好吃的虾<br>
                                            快要给我吃瞎了
                                            <!--评价图片-->
                                            <div class="shop-pictures">
                                                <ul>
                                                    <li class="comment-img-item">
                                                        <img src="/images/details/dish.jpg" alt="" width="68"
                                                             height="68">
                                                    </li>
                                                    <li class="comment-img-item">
                                                        <img src="/images/details/dish.jpg" alt="" width="68"
                                                             height="68">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="comment-details-date">
                                                <span>2022-8-1</span>
                                                <div class="comment-perfect">
                                                    <i class="perfect-img"></i>
                                                    <span>赞</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="layui-row ">
                                <!--      用户容器       -->
                                <div class="layui-col-xs1 user-tip">
                                    <!--      用户头像       -->
                                    <img src="/images/details/user_head.svg">
                                    <!--      用户名       -->
                                    <span class="user-name">用户名1</span>
                                </div>

                                <div class="layui-col-xs11 comment-details">
                                    <div class="layui-card">
                                        <div class="layui-card-header" style="background-color: #f4f4f4">
                                            <div class="grade-tip"></div>
                                        </div>
                                        <div class="layui-card-body comment-details-text">
                                            我靠这是什么东西我这辈子没吃过这么好吃的虾<br>
                                            快要给我吃瞎了
                                            <!--评价图片-->
                                            <div class="shop-pictures">
                                                <ul>
                                                    <li class="comment-img-item">
                                                        <img src="/images/details/dish.jpg" alt="" width="68"
                                                             height="68">
                                                    </li>
                                                    <li class="comment-img-item">
                                                        <img src="/images/details/dish.jpg" alt="" width="68"
                                                             height="68">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="comment-details-date">
                                                <span>2022-8-1</span>
                                                <div class="comment-perfect">
                                                    <i class="perfect-img"></i>
                                                    <span>赞</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--    分页    -->
                <div class="layui-row">
                    <div class="layui-col-xs3">
                        &nbsp
                    </div>
                    <div class="layui-col-xs8">
                        <div id="page"></div>
                    </div>
                    <div class="layui-col-xs1">
                        &nbsp
                    </div>
                </div>
            </div>
        </div>
        <!--    右边    -->
        <div class="layui-col-xs3 aside-shop-dish">
            <!--    店铺信息     -->
            <div class="shop-info-wrap">
                <div class="layui-card shop-info-tip">
                    <div class="layui-card-header shop-info-head">
                        <a href="" class="shop-info-head-name">张家面馆</a>
                        <div class="grade-item">
                            <div class="grade-tip"></div>
                        </div>
                       <div class="people-one-price">
                           <span>人均</span>
                           <i>￥</i>
                           <span id="people-one-price">75</span>
                       </div>
                    </div>
                    <div class="layui-card-body">
                        <div style="height: 50%;margin-bottom: 15px;margin-top: 5px">
                            <strong>地址:</strong>
                            <span>苏州工业园区东方文荟苑三区</span>
                        </div>
                        <div style="height: 50%">
                            <strong>电话:</strong>
                            <span>13888888888</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="recommend-text">
                <span>店铺热销</span>
                <i class="hot-img"></i>
            </div>
            <!--    热销商品     -->
            <div class="recommend-dish">
                <ul>
                    <li>
                        <div class="recommend-dish-item">
                            <div class="layui-panel">
                                <div style="padding: 20px 30px;">
                                    <div class="dish-item-img">
                                        <a href="javascript:;">
                                            <img src="/images/details/dish.jpg" alt="" width="120px" height="120px">
                                        </a>
                                    </div>
                                    <div class="dish-item-name">
                                        <span>刘家虾仁之苏州分仁</span>
                                    </div>
                                    <div class="dish-item-price">
                                        <i>饭团价:￥</i>
                                        <span>112</span>
                                        <div class="dish-item-before">
                                            <i>原价</i>
                                            <span><del>168</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="recommend-dish-item">
                            <div class="layui-panel">
                                <div style="padding: 20px 30px;">
                                    <div class="dish-item-img">
                                        <a href="javascript:;">
                                            <img src="/images/details/dish.jpg" alt="" width="120px" height="120px">
                                        </a>
                                    </div>
                                    <div class="dish-item-name">
                                        <span>刘家虾仁之苏州分仁</span>
                                    </div>
                                    <div class="dish-item-price">
                                        <i>饭团价:￥</i>
                                        <span>112</span>
                                        <div class="dish-item-before">
                                            <i>原价</i>
                                            <span><del>168</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="recommend-dish-item">
                            <div class="layui-panel">
                                <div style="padding: 20px 30px;">
                                    <div class="dish-item-img">
                                        <a href="javascript:;">
                                            <img src="/images/details/dish.jpg" alt="" width="120px" height="120px">
                                        </a>
                                    </div>
                                    <div class="dish-item-name">
                                        <span>刘家虾仁之苏州分仁</span>
                                    </div>
                                    <div class="dish-item-price">
                                        <i>饭团价:￥</i>
                                        <span>112</span>
                                        <div class="dish-item-before">
                                            <i>原价</i>
                                            <span><del>168</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-edge-bottom detail-bottom">
            <div class="layui-col-xs2">
                关于饭团
            </div>
            <div class="layui-col-xs2">
                加入我们
            </div>
            <div class="layui-col-xs2">
                商家入驻
            </div>
            <div class="layui-col-xs2">
                帮助中心
            </div>
            <div class="layui-col-xs2">
                手机APP
                </div>
            <div class="layui-col-xs2">
                <a href="javascript:;" title="@张旭 @刘海萍 @刘丽 @商建">@作者</a>
            </div>
        </div>
    </div>
</div>
<script src="../layui/layui.js"></script>
<script src="../js/details/details_product.js"></script>
<script>
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;

        var ins3 = carousel.render({
            elem: '#img-list'
            , width: '220px'
            , height: '220px'
        });
    })
</script>
</body>
</html>