<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
  <input type="hidden" id="orderNum" name="orderNum" th:value="${orderNum}" />
  <table>
    <tr>
      <td th:text="${food.foodName}">
        产品名称: ${p.data.name }
      </td>
    </tr>
    <tr>
      <td th:text="${food.foodPrice}">
        产品价格: ${p.data.price }
      </td>
    </tr>
    <tr>
      <td>
        购买个数： <input id="buyCounts" name="buyCounts" value="1"/>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="确认订单" class="submitBtn"/>
      </td>
    </tr>
  </table>
</form>
</body>
</html>