<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="http://localhost:8080/fan/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>评价页面</title>
    <link rel="icon" href="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/minilogo.png">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/details/details_header.css">
    <link rel="stylesheet" href="css/customer/personal_center/appraise.css">
    <script src="js/jquery.js"></script>
    <script src=" https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
</head>
<body>
<div class="header">
    <div class="top-nav ">
        <div class="layui-main top-main layui-row">
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item" ><a href="customer/user_details" class="title" th:text="${cusName}">登录/注册</a></li>
                    <li class="layui-nav-item" ><a href="#" class="title">帮助中心</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="title">我的饭团</a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="customer/getAllOrder?status=3&pageNum=1">订单中心</a></dd>
                            <dd><a href="customer/getAllCoupon?status=1&pageNum=1">我的优惠券</a></dd>
                            <dd><a href="customer/getShopCollect">我的收藏</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="layui-row header-tip">
        <!--      logo      -->
        <div class="layui-col-xs3 logo-input">
            <a href="shop/shopsift/1" title="饭团网" class="logo-img">
                <img src="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/mylogo.png"  width="200" height="72">
            </a>
        </div>
        <!--    搜索    -->
        <div class="layui-col-xs6 search-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item searchbox-input">
                    <div class="layui-input-block" style="margin-left: 10px">
                        <input style="border: 2px solid rgb(255,107,55);width: 80%;display: block;float: left" type="text" name="title" autocomplete="off"
                               placeholder="点此进入美食猩球" class="layui-input" id="es_input">
                        <div class="layui-btn-container" style="display: block;float: left">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger search-btn" id="es_btn">去觅食</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layui-main">
    <div class="layui-row ">
        <!-- 商品订单评价区-->
        <div class="layui-col-xs3">
            <div class="orderpic">
                <!-- 商品图片-->
                <img th:src="${shop.shopMainImg}" alt="" class="opic" width="250"
                     height="200">
            </div>
        </div>
        <div class="layui-col-xs8 msg">
            <div class="ordermsg">
                <div class="name">
                    <span th:text="${food.foodName}" >猫腻·猫咖·撸猫馆单人餐</span>
                </div>
                <div class="order-aps">
                    <span th:text="${shop.shopName}">猫腻·猫咖·撸猫馆</span><br>
                    <span> 地址：</span><span th:text="${shop.shopAddressDetail}">姑苏区十全街983号号二楼</span><br>
                    <span>电话：<span th:text="${shop.shopTelno}">1787888888</span></span><br>
                </div>
                <div class="order-score"><!--商品评分-->
                    <div class="score clear">
                        <div class="o-cont">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            </fieldset>
                            <div id="test8" class="o-star">
                            </div>
                        </div>
                        <span> <lable  th:text="${food.foodScore}"></lable>分  人均￥<lable th:text="${shop.shopAvgCost}">58</lable></span>
                    </div>
                </div>
            </div><!-- 商品信息-->
        </div>
        <div class="layui-row">
            <div class="layui-col-xs11 ">
                <div class="form-main">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>订单评价</legend>
                    </fieldset>
                    <!--                    <textarea class="layui-textarea" id="LAY_demo1" style="display: none">-->
                    <!--                    please-->
                    <!--                  </textarea>-->
                    <!--                    <div class="site-demo-button" style="margin-top: 20px;">-->
                    <!--                        <button class="layui-btn site-demo-layedit" data-type="content">获取内容</button>-->
                    <!--                        <button class="layui-btn site-demo-layedit" data-type="text">获取文本内容</button>-->
                    <!--                        <button class="layui-btn site-demo-layedit" data-type="selection">获取选中内容</button>-->
                    <!--                    </div>-->

                    <div class="evaluation_div">

                        <div class="img_div">
                            <label class="layui-form-label">上传图片：</label>

                            <div class="layui-input-block upload_div">
                                <form method="post" enctype="multipart/form-data" class="upload_form">
                                    <input type="file" class="myimg" accept="image/*" name="myfile">
                                    <div class="upload_icon"></div>
                                </form>
                            </div>
                        </div>
                        <div class="score_div">
                            <label class="layui-form-label">美食评分：</label>
                            <div class="layui-input-block">
                                <div id="pingfen"></div>
                            </div>
                        </div>
                        <div class="content_div">
                            <label class="layui-form-label">评价：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea" id="eva_content" style="width: 590px;height:150px"></textarea>
                            </div>
                        </div>
                        <input type="hidden" th:value="${myOrder.orderId}" id="orderId">
                        <input type="hidden" th:value="${food.foodId}" id="foodId">
                        <button type="button" class="layui-btn layui-btn-danger">发表评论</button>
                    </div>




                </div>
            </div>
<!--            <div class="layui-col-xs3">-->
<!--                <div class="grid-demo">-->
<!--                    <div class="recommend">-->
<!--                        <div class="title">-->
<!--                            <span>推荐附件商品</span>-->
<!--                        </div>-->
<!--                        <ul>-->
<!--                            <li class="recom">&lt;!&ndash;=========== 商品一区  =============&ndash;&gt;-->
<!--                                <div class="recom-pic">&lt;!&ndash;商品图片&ndash;&gt;-->
<!--                                    <img src="images/customer/personal_center/bbq.jpeg" alt="">-->
<!--                                </div>-->
<!--                                <div class="recom-msg">&lt;!&ndash;商品信息&ndash;&gt;-->
<!--                                    <div class="info">&lt;!&ndash;商品名称&ndash;&gt;-->
<!--                                        <a href=""><span>韩宫宴炭火烤肉（苏州吴江万宝店）</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="star-cont">&lt;!&ndash;商品评分&ndash;&gt;-->
<!--                                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">-->
<!--                                        </fieldset>-->
<!--                                        <div id="test9" class="star"></div>-->
<!--                                        <span> 松陵   人均85</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="recom">&lt;!&ndash;=========== 商品二区 =============&ndash;&gt;-->
<!--                                <div class="recom-pic">&lt;!&ndash;商品图片&ndash;&gt;-->
<!--                                    <img src="images/customer/personal_center/bbq02.jpeg" alt="">-->
<!--                                </div>-->
<!--                                <div class="recom-msg">&lt;!&ndash;商品信息&ndash;&gt;-->
<!--                                    <div class="info">&lt;!&ndash;商品名称&ndash;&gt;-->
<!--                                        <a href=""><span>来点烤肉（苏州观前街店）</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="star-cont">&lt;!&ndash;商品评分&ndash;&gt;-->
<!--                                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">-->
<!--                                        </fieldset>-->
<!--                                        <div id="test10" class="star"></div>-->
<!--                                        <span> 观前街   人均68</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="recom">&lt;!&ndash;=========== 商品三区 =============&ndash;&gt;-->
<!--                                <div class="recom-pic">&lt;!&ndash;商品图片&ndash;&gt;-->
<!--                                    <img src="images/customer/personal_center/bbq03.jpeg" alt="">-->
<!--                                </div>-->
<!--                                <div class="recom-msg">&lt;!&ndash;商品信息&ndash;&gt;-->
<!--                                    <div class="info">&lt;!&ndash;商品名称&ndash;&gt;-->
<!--                                        <a href=""><span>原始煮意·地锅鸡（观前直营店）</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="star-cont">&lt;!&ndash;商品评分&ndash;&gt;-->
<!--                                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">-->
<!--                                        </fieldset>-->
<!--                                        <div id="test11" class="star"></div>-->
<!--                                        <span> 观前街   人均64</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
<iframe align="center" width="100%" height="560px" src="details/details_bottom.html"
        frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no">
</iframe>

    <script src="layui/layui.js"></script>
    <script src="js/customer/appraise.js"></script>
    <script src="js/elasticsearch_util.js"></script>
</body>

</html>