<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的饭团</title>
    <base href="http://localhost:8080/fan/">
    <link rel="icon" href="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/minilogo.png">
    <link rel="stylesheet" href="css/mine/myfantuan.css">
    <link rel="stylesheet" href="css/mine/my_fantuan.css">
    <link rel="stylesheet" href="css/details/details_bottom.css">
    <link rel="stylesheet" href="css/details/details_header.css">
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<!-- ----------------头部------------------------- -->
<div class="header">
    <div class="top-nav ">
        <div class="layui-main top-main layui-row">
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item" ><a href="user/login.html" class="title">登录/注册</a></li>
                    <li class="layui-nav-item" ><a href="" class="title">帮助中心</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="title">我的饭团</a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="">订单中心</a></dd>
                            <dd><a href="">我的优惠券</a></dd>
                            <dd><a href="">我的收藏</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="layui-row header-tip">
        <!--      logo      -->
        <div class="layui-col-xs3 logo-input">
            <a href="../index.html" title="饭团网" class="logo-img">
                <img src="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/mylogo.png"  width="200" height="72">
            </a>
        </div>
        <!--    搜索    -->
        <div class="layui-col-xs6 search-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item searchbox-input">
                    <div class="layui-input-block" style="margin-left: 10px">
                        <input style="border: 2px solid rgb(255,107,55);width: 80%;display: block;float: left" type="text" name="title" autocomplete="off"
                               placeholder="点此进入美食猩球" class="layui-input">
                        <div class="layui-btn-container" style="display: block;float: left">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger search-btn">去觅食</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="layui-main">
    <!-- --------------我的饭团 左侧栏------------------------ -->
    <div class="orders-container">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item"><a href="root/personal_center/myfantuan.html">我的饭团</a></li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" class="title">订单</a>
                <dl class="layui-nav-child">
                    <dd><a href="root/personal_center/allorder.html" class="title_next">全部订单</a></dd>
                    <dd><a href="root/personal_center/myorder.html" class="title_next">我的订单</a></dd>
                    <dd><a href="root/personal_center/order_wait_pay.html" class="title_next">待付款</a></dd>
                    <dd><a href="root/personal_center/order_wait_judge.html" class="title_next">待评论</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" class="title">我的优惠券</a>
                <dl class="layui-nav-child">
                    <dd><a href="root/personal_center/all_quan.html" class="title_next">可用券</a></dd>
                    <dd><a href="root/personal_center/can_not_use_quan.html" class="title_next">失效券</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="root/personal_center/user_msg.html">个人信息</a></li>
        </ul>
        <!-- -----------------orders-body-------------------- -->
        <div class="welcome">
            <span class="wel_text">欢迎使用饭团 祝您用餐愉快</span>

        </div>

        <!-- ---------------------------底部-------------------------------- -->
<!--        <div class="layui-row">-->
<!--            <div class="layui-edge-bottom detail-bottom">-->
<!--                <div class="layui-col-xs2">-->
<!--                    关于饭团-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    加入我们-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    商家入驻-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    帮助中心-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    手机APP-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    <a href="javascript:;" title="@张旭 @刘海萍 @刘丽 @商建">@作者</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>

<iframe align="center" width="100%" height="560px" src="details/details_bottom.html"
        frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no">
</iframe>


<script src="layui/layui.js"></script>
</body>
</html>

<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //导航点击事件
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>