<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的饭团</title>
    <base href="http://localhost:8080/fan/">
    <link rel="icon" href="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/minilogo.png">
    <link rel="stylesheet" href="css/mine/myfantuan.css">
    <link rel="stylesheet" href="css/mine/user_msg.css">
    <link rel="stylesheet" href="css/details/details_bottom.css">
    <link rel="stylesheet" href="css/details/details_header.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/jquery.js"></script>
</head>
<body>
<!-- ----------------头部------------------------- -->
<div class="header">
    <div class="top-nav ">
        <div class="layui-main top-main layui-row">
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <span>&nbsp</span>
            </div>
            <div class="layui-col-xs4">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item" ><a href="customer/user_details" class="title" th:text="${cusName}">登录/注册</a></li>
                    <li class="layui-nav-item" ><a href="#" class="title">帮助中心</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="title">我的饭团</a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="customer/getAllOrder?status=3&pageNum=1">订单中心</a></dd>
                            <dd><a href="customer/getAllCoupon?status=1&pageNum=1">我的优惠券</a></dd>
                            <dd><a href="#">我的收藏</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="layui-row header-tip">
        <!--      logo      -->
        <div class="layui-col-xs3 logo-input">
            <a href="shop/shopsift/1" title="饭团网" class="logo-img">
                <img src="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/mylogo.png"  width="200" height="72">
            </a>
        </div>
        <!--    搜索    -->
        <div class="layui-col-xs6 search-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item searchbox-input">
                    <div class="layui-input-block" style="margin-left: 10px">
                        <input style="border: 2px solid rgb(255,107,55);width: 80%;display: block;float: left" type="text" name="title" autocomplete="off"
                               placeholder="点此进入美食猩球" class="layui-input" id="es_input">
                        <div class="layui-btn-container" style="display: block;float: left">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger search-btn" id="es_btn">去觅食</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="layui-main">
    <!-- --------------我的饭团 左侧栏------------------------ -->
    <div class="orders-container">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item"><a href="root/personal_center/myfantuan.html">我的饭团</a></li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" class="title">订单</a>
                <dl class="layui-nav-child">
                    <dd><a href="customer/getAllOrder?status=3&pageNum=1" class="title_next">全部订单</a></dd>
                    <dd><a href="customer/getAllOrder?status=1&pageNum=1" class="title_next">待付款</a></dd>
                    <dd><a href="customer/getAllOrder?status=2&pageNum=1" class="title_next">待评论</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" class="title">我的优惠券</a>
                <dl class="layui-nav-child">
                    <dd><a href="customer/getAllCoupon?status=1&pageNum=1" class="title_next">可用券</a></dd>
                    <dd><a href="customer/getAllCoupon?status=0&pageNum=1" class="title_next">失效券</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" class="title">我的收藏</a>
                <dl class="layui-nav-child">
                    <dd><a href="customer/getShopCollect" class="title_next">收藏店铺</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="customer/user_details">个人信息</a>
            </li>
        </ul>
        <!-- -----------------orders-body 信息修改------------------- -->
        <div class="my_msg">
            <div class="msg">
                <span class="person">个人信息</span>
                <span class="account">账户设置</span>
            </div>
            <form class="head_img" role="form">
                <span class="touxiang">头像</span>
                <div class="layui-upload">
                    <div class="layui-upload-list">
                        <img th:src="${customer.customerHeadImg}" class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                    <button type="button" class="layui-btn" id="test">上传图片</button>
                </div>
            </form>
            <form class="other_msg" role="form">
                <div class="name">
                    <span class="nicheng">昵称</span>
                    <input type="text" th:value="${customer.customerName}" class="nichengkuang">
                </div>
                <div class="updatePhone">
                    <span class="shoujihao">换绑手机</span>
                    <input type="text" th:value="${customer.customerTelno}" class="phonenumber">
                </div>
                <input type="submit" value="保存" class="save">
            </form>
        </div>
        <!-- ---------------------------底部-------------------------------- -->
<!--        <div class="layui-row">-->
<!--            <div class="layui-edge-bottom detail-bottom">-->
<!--                <div class="layui-col-xs2">-->
<!--                    关于饭团-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    加入我们-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    商家入驻-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    帮助中心-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    手机APP-->
<!--                </div>-->
<!--                <div class="layui-col-xs2">-->
<!--                    <a href="javascript:;" title="@张旭 @刘海萍 @刘丽 @商建">@作者</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>


<iframe align="center" width="100%" height="560px" src="details/details_bottom.html"
        frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no">
</iframe>



<script src="layui/layui.js"></script>
<script src="js/elasticsearch_util.js"></script>
</body>
</html>
<script>
    layui.use(['upload', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , element = layui.element
            , layer = layui.layer;

        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#test'
            , url: 'https://httpbin.org/post' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功的一些操作
                //……
                $('#demoText').html(''); //置空上传失败的状态
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
            //进度条
            , progress: function (n, elem, e) {
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if (n == 100) {
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });
    });
</script>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //导航点击事件
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
<!--保存修改的信息-->
<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $("update").on("click",function (){-->
<!--            $.ajax({-->
<!--                type: 'post'-->
<!--                })-->
<!--        })-->
<!--    })-->
<!--</script>-->