<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="http://localhost:8080/fan/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>下单页面</title>
    <link rel="icon" href="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/minilogo.png">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/mine/myfantuan.css">
    <link rel="stylesheet" href="css/details/details_bottom.css">
    <link rel="stylesheet" href="css/customer/order/order.css">
    <link rel="stylesheet" href="css/details/details_header.css">
    <script src="js/jquery.js"></script>
    <script src="layer/layer.js"></script>
</head>

<body>
<div class="layui-main">

    <div class="header">
        <div class="top-nav ">
            <div class="layui-main top-main layui-row">
                <div class="layui-col-xs4">
                    <span>&nbsp</span>
                </div>
                <div class="layui-col-xs4">
                    <span>&nbsp</span>
                </div>
                <div class="layui-col-xs4">
                    <ul class="layui-nav">
                        <li class="layui-nav-item"><a href="" th:text="${cusName}">登录/注册</a></li>
                        <li class="layui-nav-item"><a href="">帮助中心</a></li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">我的饭团</a>
                            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                                <dd><a href="">订单中心</a></dd>
                                <dd><a href="">我的优惠券</a></dd>
                                <dd><a href="">我的收藏</a></dd>
                            </dl>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-row header-tip">
            <!--      logo      -->
            <div class="layui-col-xs3 logo-input">
                <a href="shop/shopsift/1" title="饭团网" class="logo-img">
                    <img src="https://zhangxu-1023.oss-cn-nanjing.aliyuncs.com/images/logo/mylogo.png"  width="200" height="72">
                </a>
            </div>
            <!--    搜索    -->
            <div class="layui-col-xs6 search-box">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item searchbox-input">
                        <div class="layui-input-block" style="margin-left: 10px">
                            <input style="border: 2px solid rgb(255,107,55);width: 80%;display: block;float: left" type="text" name="title" autocomplete="off"
                                   placeholder="点此进入美食猩球" class="layui-input" id="es_input">
                            <div class="layui-btn-container" style="display: block;float: left">
                                <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger search-btn">去觅食</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--=======  商品名称区  ======-->
    <div class="product">
        <div class="layui-row">
            <div class="layui-col-xs6 pro-row-item">
                <div class="pro-itemname xiang-mu" >
                    <p>项目</p>
                </div>
            </div>
            <div class="layui-col-xs2 pro-row-price">
                <div class="pro-pricename">
                    <p>数量</p>
                </div>
            </div>
            <div class="layui-col-xs2 pro-row-number">
                <div class="pro-numname">
                    <p>单价</p>
                </div>
            </div>
            <div class="layui-col-xs2 pro-row-sum">
                <div class="pro-sumname">
                    <p>总价</p>
                </div>
            </div>
        </div>
    </div>
    <!--=======  商品详情区  ======-->
    <div class="Pro-details">
        <div class="layui-row">
            <div class="layui-col-xs6  pro-shop">
                <div class="layui-row pro-msg">
                    <div class="layui-col-xs4">
                        <div class="shop-pic">
                            <img class="spic" th:src="${food.foodMainImg}" width="140px" height="140px">
                        </div>
                    </div>
                    <div class="layui-col-xs8">
                        <div class="shop-name">
                            <a href="" th:text="${food.foodName}">猫腻·猫咖·撸猫馆: 猫腻·猫咖·撸猫馆单人餐</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs2 ">
                <div class="pro-btn">
                    <div class="btn">
                        <input type="text" class="count" value="1" readonly>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs2">
                <div class="number-price">
                    <div class="num">
                        <span th:text="${secondKill.secondKillPrice}">1</span>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs2">
                <div class="sum-price" >
                    <div class="sum">
                        ￥
                        <span th:text="${secondKill.secondKillPrice}">58</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--=======  结算区  ======-->
    <div class="settlement">
        <div class="layui-row">
            <div class="layui-col-xs9">
                <div class="layui-btn-container">

                </div>
            </div>
            <div class="layui-col-xs3 word">
                <div class="statistic">
                    <span class="price-tit">共计:</span>
                    <em class="price" th:text="${secondKill.secondKillPrice}"></em>
                </div>
                <div class="price-panel">
                    <span class="m-price">优惠:</span>
                    <em class="n-price">00.0</em>
                </div>
                <div class="price-info">
                    <div class="set-but">
                        <span>应付金额：</span>
                    </div>
                    <div class="but-m">
                        ￥
                        <span class="payNum" th:text="${secondKill.secondKillPrice}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=======  提交订单区  ======-->
    <div class="Submit-order">
        <div class="layui-row">
            <div class="layui-col-xs9">
                &nbsp;
            </div>
            <div class="layui-col-xs3">
                <div class="sub-but">
                    <form action="creatOrder" class="dataForm" method="post">
                        <input type="hidden" name="foodId" class="foodId" th:value="${secondKill.foodId}">
                        <input type="hidden" name="isSecondKillVal" class="isSecondKillVal" value="1">
                        <input type="hidden" name="newCouponId" class="newCouponId" value="0">
                        <input type="submit" class="but gotoAliPay" name="提交订单" value="提交订单">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui.js"></script>
<script src="js/customer/order/order.js"></script>
<script src="js/elasticsearch_util.js"></script>
</body>
</html>